/* Input Styles */
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder {
    color: #99a1ad;
}

input[type="text"]:hover::placeholder,
input[type="password"]:hover::placeholder,
input[type="date"]:hover::placeholder {
    color: #606c7f;
    border-color: #0a47f0;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    width: 1225px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #868f9e;
    font-size: 15px;
    color: #202e44;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
    border-color: #0a47f0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
    border-color: #0a47f0;
    outline: none;
    border-width: 2px;
}

input[type="text"][class="error"],
input[type="password"][class="error"],
input[type="date"][class="error"] {
    border-color: #e30425;
}

.options {
    display: flex;
    margin: auto;
    justify-content: center;
}

/* Button Styles */
input[type="button"] {
    margin: auto;
    display: block;
    border: none;
    border-radius: 25px;
    background-color: #ff7800;
    color: white;
}

input[type="button"]:hover {
    background-color: #ff961f;
    box-shadow: 0 4px 4px 0px #c8c8c8;
    cursor: pointer;
}

input[type="button"]:active {
    background-color: #e45e00;
}

.logout {
    width: 150px;
    font-size: 15px;
    padding: 5px;
}

.submit {
    width: 225px;
    font-size: 20px;
    padding: 5px;
}

/* Division Styles */
.movement {
    display: flex;
    justify-content: center;
}