/* Input Styles */
* {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px 20px;
}

.options {
    display: flex;
    margin: auto;
    justify-content: center;
}

/* Button Styles */
input[type="button"] {
    margin: auto;
    display: block;
    border: none;
    border-radius: 25px;
    background-color: #ff7800;
    color: white;
}

input[type="button"]:hover {
    background-color: #ff961f;
    box-shadow: 0 4px 4px 0px #c8c8c8;
    cursor: pointer;
}

input[type="button"]:active {
    background-color: #e45e00;
}

.logout {
    width: 150px;
    font-size: 15px;
    padding: 5px;
}

.submit {
    width: 225px;
    font-size: 20px;
    padding: 5px;
}

/* Division Styles */
.movement {
    display: flex;
    justify-content: center;
}